.TeamPage {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 0.8fr 1.2fr 0.8fr;
    grid-column-gap: 10px;
    grid-row-gap: 5px;

    .nav-bar {
        grid-column: span 3;
        display: flex;
        background: linear-gradient(
            136deg, rgba(251, 100, 62, 0.85), rgba(236, 129, 135, 0.85)); 
        align-items: center;
        padding-left: 20px;
        box-shadow: 0px 5px 5px 5px rgba(0,0,0,0.4);
        border-radius: 5px;
        margin-bottom: 5px;
        font-size: 1.5rem;
        padding-bottom: 5px;

        .home {
            color: wheat;
        }

        .home:hover {
            transform: scaleX(1.1);
        }
    }

    .team-name-section {
        grid-column: span 2;
        height: 250px;
        justify-self: start;
        align-self: center;
        align-items: center;
        text-align: center;
    }

    .team-name {
        font-size: 3rem;
    }

    .win-loss-section {
        justify-self: end;
        align-self: center;
    }

    .full-match-section {
        grid-column: span 3;
        justify-self: start;
        & > h2 {
            color: black;
            background-color: black;
        }
    }

    @media only screen and (max-width: 500px) {
        max-width: 400px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.1fr 0.8fr 1.4fr 0.8fr 0.8fr;
        grid-gap: 5px;

        .nav-bar {
            grid-column: span 2;
            font-size: 1rem;
            padding-bottom: 5px;
            height: 25px;
        }
    
        .team-name-section {
            grid-column: span 1;
        }

        .full-match-section {
            grid-column: span 2;
            width: 400px;
        }
    }
}