HELP.md
.mvn/
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.mvn
.idea
*.iws
*.iml
*.ipr
*.cmd

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

##% REACT ###
src/frontend/node_modules/
src/main/resources/public/

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
src/frontend/coverage

# production
src/frontend/build

# misc
src/frontend/.DS_Store
src/frontend/.env.local
src/frontend/.env.development.local
src/frontend/.env.test.local
src/frontend/.env.production.local

src/frontend/npm-debug.log*
src/frontend/yarn-debug.log*
src/frontend/yarn-error.log*