
    .opponentTile {
        display: grid;
        grid-template-columns: 0.2fr 3fr 1fr;
        text-align: center;
    
        .few-details {
            text-align: center;
            display: grid;
            grid-template-rows: 1fr 1fr;
    
            & > h2 > a {
                color: wheat;
            }
    
            .opponent-team-name,.winner {
                transition: transform 250ms, opacity 400ms;
            }
    
            .opponent-team-name:hover,.winner:hover {
                transform: scaleX(1.05);
                opacity: 0.9;
            }
        }

        @media only screen and (max-width: 500px) {
            .opponent-team-name {
                & > a {
                    font-size: 1.5rem;
                }
            }

            .few-details {
                grid-template-rows: 1fr 0.5fr;

                .winner {
                    font-size: 1rem;
                }
            }

            .logo {
                height: 100px;
                width: 100px;
            }
        }
    }